@model GarageApp.Models.Garage

@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@{
    ViewData["Title"] = "Details";
}

@{
    var userIdClaim = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Details</h1>

<div>
    <h4>Garage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Specializations
        </dt>
        <dd class="col-sm-10">
            @foreach (var specialization in ViewBag.Specialization)
            {
                if (@Model.GarageSpecializations.Any(item => item.SpecializationId == specialization.Id))
                {
                    <span>@specialization.Name, </span>
                }
            }
        </dd>
    </dl>
    <div>
        <h1>Awailable Services</h1>
        @if (ViewBag.GarageServices != null && ViewBag.GarageServices.Count!=0)
        {
            foreach (var Service in ViewBag.GarageServices)
            {
                <div>
                    <a asp-controller="GarageServices" asp-action="Details" asp-route-id="@Service?.Id">@Service.Name</a>
                    <span>@Service.Price</span>
                </div>
            }
        }
        else
        {
            <p>No Services awailable!</p>
        }
    </div>
</div>
<div>
    @if (User.IsInRole("Admin") || userIdClaim == Model.OwnerId.ToString())
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> <span> | </span>
    }
    <a asp-action="Index">Back to List</a>
</div>
