@model GarageApp.Models.GarageSpecializationsViewModel

@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}

@{
    var userIdClaim = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Garages</h1>

<form asp-controller="Garages" asp-action="Index" method="get">
    <p>

        <select asp-for="GarageSpecialization" asp-items="Model.Specializations">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

@if (User.IsInRole("Admin") || User.IsInRole("garageOwner"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Garages[0]!.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Garages!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.IsInRole("Admin") || userIdClaim == item.OwnerId.ToString())
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span> | </span>
                        <a asp-controller="GarageServises" asp-action="Create" asp-route-id="@item.Id">Add Servise</a> <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                    }
            </td>
        </tr>
}
    </tbody>
</table>
