@model IEnumerable<GarageApp.Models.Garage>

@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}

@{
    var userIdClaim = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Garages</h1>

@if (User.IsInRole("Admin") || User.IsInRole("garageOwner"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.IsInRole("Admin") || userIdClaim == item.OwnerId.ToString())
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <p>|</p>                   
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
